# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
env/
.env

# IDE
.vscode/
.idea/

# Données et Modèles (souvent trop lourds pour git)
# Décommentez si vous voulez les versionner (attention limite 100Mo)
# models/
# data/embeddings/
# data/processed/

# Fichiers temporaires
*.log
*.tmp
.DS_Store